*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}
#teoría {
    display: flex;
    flex-direction: column;
    margin: 1%;
    font-size: 25px;
}
#teoría h3 {
    margin-bottom: 1%;
    font-size: 27px;
}
/*********************************************************/
#tarea {
    margin: 1%;
}
#tarea h4{
    margin: 1% 0%;
}
.caja_contenedor_reyes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 3px;
    color: aliceblue;
    margin-top: 1%;
}
.cajita_rey {
    border-radius: 4%;
}
.cajita_rey img {
    width: 100%;
}
.cajita_rey h3, p, button {
    padding: 3%;
}
button {
    margin: 1%;
    border-radius: 40%;
}
